<div>
	<form ngNativeValidate (ngSubmit)="uploadProduct()">
		<div class="dropzone" 
			dropZone
			(hovered)="toggleHover($event)"
			(dropped)="onDrop($event)"
			[class.hovering]="isHovering">
			<h3>AngularFire Drop Zone</h3>
			<p>Drag and Drop a File</p>
		</div>
		
		<div *ngIf="progress | async as pct">
			<progress [value]="pct" max="100"></progress>
			{{ pct | number }}%
		</div>
		
		<div *ngIf="snapshot | async as snap">
		
			{{ snap.bytesTransferred }} of {{ snap.totalBytes }} 
		
			<div *ngIf="downloadURL as url">
				<h3>Results!</h3>
				<img [src]="url"><br>
				<a [href]="url" target="_blank" rel="noopener">Download Me!</a>
			</div> 
		
			<button (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
			<button (click)="task.cancel()" [disabled]="!isActive(snap)">Cancel</button>
			<button (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
		</div>







		
		<div>
			<label>Upload Picture of product<br>
				<input type="file" name="productPicture" (change)="onFileSelect($event.target.files)">
			</label>
		</div>
		<div>
			<label>Product name<br>
				<input type="text" name="name" [(ngModel)]="product.name">
			</label>
		</div>
		<div>
			<label>Description<br>
				<input type="text" name="description" [(ngModel)]="product.description">
			</label>
		</div>
		<div>
			<label>Prize<br>
				<input type="text" name="price" [(ngModel)]="product.price">
			</label>
		</div>
		<div>
			<label>Quantity<br>
				<input type="text" name="quantity" [(ngModel)]="product.quantity">
			</label>
		</div>
		<div>
			<button type="submit">Uplaod product</button>
		</div>
	</form>
</div>
