<section>
	<div class="hero mt-5 mb-2">
		<h1 class="title">Welcome to <span class="brand">EShopStyle</span></h1>
		<p class="disc">Shop anything you want with style.</p>
	</div>
	<div class="divider"></div>
	<div class="my-3">
		<div class="collection" *ngIf="featured$ | async as featured">
			<p class="heading">{{ featured.name }}</p>
			<div *ngFor="let product of featured.products">
				<app-product [product]="product"></app-product>
			</div>
		</div>
		<button routerLink="/view/product/382b598d-1180-4270-8290-ec27a17c59cd">View product</button>
	</div>
</section>
