<section>
	<div class="hero my-3">
		<app-home-carousel></app-home-carousel>
		<p class="disc center">Shop anything you want with style.</p>
	</div>
	<div class="divider"></div>
	<div class="my-3">
		<div *ngIf="!loading; else loadingdiv">
			<app-home-product-list [collection]="featured"></app-home-product-list>
		</div>
		<ng-template #loadingdiv>
			<app-loading></app-loading>
		</ng-template>
		<div class="divider"></div>
	</div>
	<div class="buttons mt-4">
		<div>
			<button routerLink="/view/collection/men clothing">View Men Clothing</button>
		</div>
		<div class="px-sm-2">
			<button routerLink="/view/collection/women clothing">View Women Clothing</button>
		</div>
		<div class="pr-sm-2">
			<button routerLink="/view/collection/jewelery">View Jewelery</button>
		</div>
		<div>
			<button routerLink="/view/collection/electronics">View Electronics</button>
		</div>
	</div>
</section>
