<nav class="navbar">
	<div class="side-bar" #sidebar>
		<div class="close-container">
			<div class="brand-container">
				<a class="brand" routerLink="/home">EShopStyle</a>
			</div>
			<div>
				<button class="toggler" (click)="close()">
					<i class="fas fa-times"></i>
				</button>
			</div>
		</div>
		<div class="mt-5">
			<div class="my-3 center">
				<img routerLink="/user/profile" (click)="close()" *ngIf="user" [src]="user.photoURL ? user.photoURL : 'assets/img/user.png'" alt="DP">
			</div>
			<div class="my-3 center" *ngIf="user && user.isAdmin">
				<a routerLinkActive="link-active" routerLink="/admin" (click)="close()" class="link">Admin</a>
			</div>
			<div class="my-3 center">
				<a routerLinkActive="link-active" routerLink="/auth/login" (click)="close()" class="link">Login</a>
			</div>
			<div class="my-3 center">
				<a routerLinkActive="link-active" routerLink="/auth/sign-up" (click)="close()" class="link">Sign up</a>
			</div>
			<div class="my-3 center" *ngIf="user">
				<a (click)="close();auth.logout()" class="link">Logout</a>
			</div>
			<div class="my-3 center">
				<a routerLinkActive="link-active" routerLink="/about" (click)="close()" class="link">About</a>
			</div>
		</div>
	</div>

	<div class="top-bar"> 
		<div class="toggler-container">
			<button class="toggler" (click)="open()">
				<i class="fas fa-bars"></i>
			</button>
		</div> 
		<div class="brand-container">
			<a class="brand" routerLink="/home">EShopStyle</a>
		</div>
		<div class="options-container">
			<img src="assets/img/cart.png" alt="CART" class="cart-img" routerLink="/view/cart">
			<span class="cart-items-sm">
				{{ cartService.cart.products && cartService.cart.products.length }}
			</span>
		</div>
		<div class="spacing"></div>
		<div class="route-container">
			<a class="link ml-4" routerLinkActive="link-active" routerLink="/home">Home</a>
			<a *ngIf="user && user.isAdmin" class="link ml-4" routerLinkActive="link-active" routerLink="/admin">Admin</a>
			<a class="link ml-4" routerLinkActive="link-active" routerLink="/auth/login">Login</a>
			<a class="link ml-4" routerLinkActive="link-active" routerLink="/auth/sign-up">Signup</a>
			<a *ngIf="user" class="link ml-4" (click)="auth.logout()">Logout</a>
			<a class="link ml-4" routerLinkActive="link-active" routerLink="/about">About</a>
			<img class="ml-4" routerLink="/user/profile" *ngIf="user" [src]="user.photoURL ? user.photoURL : 'assets/img/user.png'" alt="DP">
			<div class="ml-4" routerLink="/view/cart">
				<img src="assets/img/cart.png" alt="CART" class="cart-img">
				<span class="cart-items-lg">
					{{ cartService.cart.products && cartService.cart.products.length }}
				</span>
			</div>
		</div>
	</div>
</nav>
