.product {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(131, 137, 145, 0.219);
}

.name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.img {
	height: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&:hover {
		cursor: pointer;
	}
	img {
		transition: transform .5s ease;
	}
	&:hover img {
		transform: scale(1.25);
	}
}

.add {
	background-color: rgb(234, 239, 241);
	color: rgb(81, 93, 105);
	border: .1rem solid transparent;

	&:hover {
		border: .1rem solid rgba(104, 116, 128, 0.411);
	}
}