@import './variables.scss';
@import './assets/css/bootstrap.utilities.css';

* {
	outline: none;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

html, body {
	height: 100%;
}

body {
	background-color: $light;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

a, button, input, textarea {
	border-radius: 3px;
	border: .1rem solid transparent;
}

a:hover, button:hover {
	cursor: pointer;
}

.bg {
	background-color: white;
	box-shadow: 0 0 10px rgba(227, 231, 235, 0.788);
	border-radius: 4px;
}

.shadow {
	box-shadow: 0 0 10px rgba(227, 231, 235, 0.788);
}

.divider {
	margin: 0;
	padding: 0;
	border-bottom: .1rem solid #e3e7eb;
}

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

.red {
	color: $error;
}

.green {
	color: $green;
}