<section class="center">
	<p class="heading my-3">About EShopStyle</p>
	<div>
		<strong>Disclaimer:</strong> This app is only for demonstration purposes and does <em>not</em> 
		require real money or credit/debit card information to place orders. <br>
		Placed orders are only simulation of how E-commerce application works and you will not receive any products available in this application. 
	</div>
	<div>
		For ADMIN access and more info/inquires, email me at <a class="route-link" href="mailto:panesar.pb08@gmail.com">panesar.pb08@gmail.com</a>
	</div>
</section>