@import '../../../variables.scss';

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  max-width: 400px;
  
  &.hovering {
    border: 2px solid $error;
      color: #dadada !important;
    }
    .file-label {
      font-size: 1.2em;
    }
  }
  
.drop-border-red {
  border: 2px dashed $error;
}

.drop-border-green {
  border: 2px dashed $green;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

input, select {
  width: 100%;
  max-width: 400px;
}

input[type="file"]:hover {
  cursor: pointer;
}